<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/logo.jpg" rel="icon">
  <link href="static/assets/img/logo.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="{{url_for('hero')}}" class="logo me-auto me-lg-0"><img src="static/assets/img/logo.jpg" alt="" class="png img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('about')}}">About</a></li>
          <li><a class="nav-link scrollto " href="{{url_for('expertise')}}">Expertise</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('pricing')}}">Pricing</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('blog')}}">Blog</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('contact')}}">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <video id="background-video" autoplay loop muted poster="static/assets/img/hero-bg.jpg">
    <source src="static/assets/img/back.mp4" type="video/mp4">
    </video>
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>WIKI ROYALE<span></span></h1>
          <h2></h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Discover the best and most transparent way to enhance your Wikipedia presence.</h3>
            <p class="fst-italic">
              We strive to build the online encyclopedia in the best way possible by telling your story in a neutral, unbiased and encyclopedic manner.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Our projects will only be completed after reaching your satisfaction.</li>
              <li><i class="ri-check-double-line"></i> Assurance we walk with you through every step throughout the project till completion.</li>
              <li><i class="ri-check-double-line"></i> Compliance with Wikipedia regulations at your discretion.</li>
            </ul>
            <p>
              Our goal is to help you get the most out of Wikipedia as you can since we know it may seem an uphill task when navigating on your own. We are committed to tailoring everything right down to perfection for you since we know well how important your Wikipedia presence is for your image
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("static/assets/img/features.jpg");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>High Quality articles</h4>
              <p>We use the best sources to ensure that we create articles of the highest standards as well as neatly organize articles using tools like infoboxes, tables and templates.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Total Transparency</h4>
              <p>We ensure we keep you updated until the project is completed and to your contentment. We only accept payments upon completion of the project to ensure we have your utmost trust.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h4>Tailored Services</h4>
              <p>At Wiki Royale we treat every client differently and uniquely. We don't churn out generic articles but take each clients' history to produce one of one articles. </p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h4>Confidentiality Policy</h4>
              <p>We take client confidentiality requests very seriously. Almost all clients we work with request to remain anonymous, and it is up to us to respect this decision to the latter. We assure all clients we respect their decisions before beginning any projects.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Our Services</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Article Creation</a></h4>
              <p>We work with notable clients to create high quality encyclopedic content that really tells your story.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4>Article Editing</h4>
              <p>We ensure we take only the best sources to expand your article or remove extreme inaccurate bias expressed in your article.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4>Draft Publishing</h4>
              <p>We review and help notable clients stuck at draft level at getting their articles approved by ensuring it is up to the encyclopedic standard.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4>Adding Images</h4>
              <p>Using Wikimedia we add any images you may want in your article, be it your picture, logo, flagship store or HQ.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4>Article Translation</h4>
              <p>Expand your reach by translating your page to any language you wish. We can translate your page to any language and assure it is of the same high quality standard.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4>Tag Removal</h4>
              <p>We specialize in fixing your article by addressing issues raised by the tags in your article and ultimately ensure the tags are removed.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Start your Wikipedia journey with us today</h3>
          <p> We ensure your article is up to the highest standard and is presented professionally and in an encyclopedic manner. We are ready to walk every step with you to your satisfaction.</p>
          <a class="cta-btn" href="{{url_for('contact')}}">Contact Us</a>
        </div>

      </div>
    </section><!-- End Cta Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Check our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/neshtweets"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.instagram.com/nesh.szn/"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nesh Kimathi</h4>
                <span>Head of Operations</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="static/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">



                </div>
              </div>
              <div class="member-info">
                <h4>JJ Ross</h4>
                <span>Project advisor</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/testimonials.jpg" class="" alt="">
                <h3></h3>
                <h4></h4>
                <p>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Wiki Royale<span>.</span></h3>
              <p>
                <strong>Email:</strong> info@wikiroyale.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://linkedin.com/company/wikiroyale/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('about')}}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('pricing')}}">Pricing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('expertise')}}">Expertise</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('blog')}}">Blog</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a>Article Creation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a>Article Editing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a>Draft Publishing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a>Adding Images</a></li>
              <li><i class="bx bx-chevron-right"></i> <a>Tag Removal</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newsletter to never miss an update from us.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Wiki Royale</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <a href="#" class="from-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-down-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>